.brightnesswindow {
	background-color: $surface0;
	border-radius: 15px;
}

.brightnesswindowalt {
	border-radius: 15px;
	background-color: $surface0;
}

.brightness-slider-icon {
	font-size: 28px;
	padding-left: 10px;
	padding-right: 10px;
	color: $yellow;
}

.brightness-controller slider {
	all: unset;
}
.brightness-controller scale trough {
	all: unset;
	min-height: 10px;
	min-width: 10px;
	border-color: $surface0;
	background-color: $surface0;
}
.brightness-controller scale trough highlight {
	all: unset;
	background-color: $yellow;
	border-radius: 5px;
}
